.main-cont{
    background-color: #02797f; 
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Define styles for the sign-in container */
.sign-in-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the form elements */
  .sign-in-form {
    display: flex;
    flex-direction: column; 
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='email'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #0056b3;
  }
  
  /* Styles for the "Already have an account?" section */
  .existing-account {
    margin-top: 20px;
    text-align: center;
  }
  
  .existing-account p {
    margin-bottom: 5px;
  }
  
  .existing-account a {
    color: #007bff;
    text-decoration: none;
  }
  
  .existing-account a:hover {
    text-decoration: underline;
  }
  

  .social-buttons{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    text-align: center;
  }
  .google-button{
    margin-bottom: 5px;
    width: 300px;
   
    
  }
  .facebook-button{
    margin-bottom: 5px;
    width: 300px;
   
  }
  .linkedin-button{
    margin-bottom: 5px;
    width: 300px;
  }

  .row-lines {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    margin-right: 10px;
    align-items: center;
    gap: 10px; /* Adjust as needed for spacing */
  }
