/* index.css */

/* General styles */


.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
}

.sign-in-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

input {
  width: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#sign-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  margin-top: 8px;
}


.error-message {
  color: red;
}

.existing-account {
  margin-top: 10px;
}

.existing-account a {
  color: #007bff;
  text-decoration: none;
}

.social-buttons {
  margin-top: 10px;
}

.google-button,
.facebook-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.google-button:hover,
.facebook-button:hover,
.linkedin-button:hover {
  background-color: #f0f0f0;
}

.google-button img,
.facebook-button img,
.linkedin-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.row-lines {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-right: 10px;
  align-items: center;
  gap: 10px; /* Adjust as needed for spacing */
}