/* index.css */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007bff;
}

.register__container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register__textBox {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register__btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.register__btn:hover {
  background-color: #0056b3;
}

.register__google {
  background-color: #db4437;
}

.register__google:hover {
  background-color: #c13505;
}

.register__link {
  color: #007bff;
  text-decoration: none;
}

.register__link:hover {
  text-decoration: underline;
}


.social-buttons {
  margin-top: 10px;
}

.google-button,
.facebook-button,
.linkedin-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.google-button:hover,
.facebook-button:hover,
.linkedin-button:hover {
  background-color: #f0f0f0;
}

.google-button img,
.facebook-button img,
.linkedin-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.row-lines {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-right: 10px;
  align-items: center;
  gap: 10px; /* Adjust as needed for spacing */
}

.signup-heading {
  font-size: 2em; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Set the text color */
  margin-bottom: 20px;  
  text-align: center;/* Add some margin to the bottom */
  /* Add any additional styling you want */
}