.about-us {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;

  }
  
  .about-us h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-us p {
    font-size: 1rem;
    line-height: 1.6;
    color: #020d13;
    font-weight: 45s0;
    margin-bottom: 15px;
  }
  
  /* Style for headings within the paragraphs */
  .about-us p:first-child {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .about-us {
      padding: 15px;
      border-radius: 0;
    }
  
    .about-us h2 {
      font-size: 1.8rem;
    }
  
    .about-us p {
      font-size: 0.9rem;
    }
  }
  
  .cont1 {

    height: 60vh;
    height: 100vh;
    padding: 10px;
  }

  .about-cont{
    background-color: #e6f6ff;
    padding: 25px;
    max-width: 900px;
    border-radius: 6px;
    margin-bottom: 20px;
  }