.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
    height: 90vh;
    background-color: #f9f9f9;
  }
  
  @media screen and (min-width: 768px) {
    .home-container {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 20px; 
    }
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-content {
      align-items: flex-start;
    }
  }
  
  .home-mobile-img {
    width: 206px;
  }
  
  @media screen and (min-width: 768px) {
    .home-mobile-img {
      display: none;
    }
  }
  
  .home-desktop-img {
    width: 59%;
    max-width: 510px;
    margin-left: 45px;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 767px) {
    .home-desktop-img {
      display: none;
    }
 
  }
  
  .home-heading {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-top: 0px;
    font-size: 30px;
    color: #1e293b;
    text-align: center; 
    
  }
  .sub-heading1 {
    font-family: 'PT Sans', sans-serif;
    margin-top: 0px;
    font-size: 35px;
    padding-bottom: 6px;
    color: #1e293b; 
    text-align: left; 
  }
  
  @media screen and (min-width: 768px) {
    .home-heading {
      font-size: 43px;
      text-align: left;
      padding-bottom: 10px;
    }
    .sub-heading {
      font-size: 23px;
      text-align: left;
      padding-bottom: 10px;
    }
  }
  
  .home-description {
    font-family: 'PT Sans', sans-serif;
    margin-top: 36px;
    font-size: 16px;
    line-height: 28px;
    color: #006ac2;
    font-weight: 400;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-description {
      font-size: 19px;
      margin-top: 0;
      font-weight: 500;
      text-align: left;
    }
  }
  
  .shop-now-button {
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: #0967d2;
    margin-top: 20px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .shop-now-button {
      font-size: 16px;
    }
  }
  
  .product-sections {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1110px;
  }

  
  .mission-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
  }
  
  @media screen and (min-width: 768px) {
    .mission-cont {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .home-content1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .home-content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
  }
  
  @media screen and (min-width: 768px) {
    .home-content1 {
      align-items: flex-end;
    }
  }
  
  .home-heading1 {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 0px;
    font-size: 30px;
    color: #1e293b;
    text-align: right;
  }
  
  @media screen and (min-width: 768px) {
  
    .home-heading1 {
      font-size: 43px;
      text-align: right;
    }
    
.service-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 40%;
  transition: all 0.3s ease;
}
  }
  
  .home-description1 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0;
    text-align: end;
  }

  /* CSS */



.service-section {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  background-color: #f9fbfe;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

@media  screen and (max-width:756px) {

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   

  .service-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  
  
}

.service-item:hover .service-image {
  transform: scale(1.1);
}

.service-item h3 {
  margin: 10px 0;
  color: #333; /* Adjust color as needed */
}

.service-item p {
  color: #666;
}

/* Animation for fadeIn effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-item {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.3s; /* Delay for staggered fadeIn effect */
}
.service-heading {
  font-family: 'PT Sans', sans-serif;
  margin-top: 0px;
  font-size: 30px;
  color: #1e293b;
  font-weight: 600;
  text-align: center;
}

.heading-2{
    font-family: 'PT Sans', sans-serif;
    color:  #0b69ff;
    font-weight: 550;
    font-size: 25px;
    text-decoration: none; 
    padding: 10px;
}

.des-1{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1e293b;
}

.service-item {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow effect */
  transition: transform 0.3s ease-in-out; /* Adding a smooth transition */
}

.service-item:hover {
  transform: translateY(-5px); /* Applying a slight lift effect on hover */
}



.heading-2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.des-1 {
  font-size: 1rem;
  color: #666;
}

/* Example CSS styles for the footer */

/* General footer styles */
.footer {
  background-color: #05141f;
  padding: 40px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  color: white;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  text-align: left;
}

.footer-section ul li a:hover {
  color: #000;
}

.footer-section p {
  margin-bottom: 5px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.social-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.social-links li a:hover {
  color: #000;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.footer-bottom p {
  font-size: 0.9em;
  color: white;
}



.home-desktop-img {
  width: 59%;
  max-width: 510px;
  margin-left: 45px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInBounce 1.5s ease-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-sign {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.button-sign:hover {
  background-color: #45a049; /* Darker Green */
}



.cities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-top: 50px;
}

.city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 150px;
}

.city-button:hover {
  /* Styles for hover effect */
  background-color:#006ac2;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.city-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
}
.city-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.city-text {
  text-align: center; 
  font-family: 'PT Sans', sans-serif;
}

.city-heading{
  text-align: center;
  padding-bottom: 10px;
} 

/* PropTextContainer.css */

.prop-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin: 10px; 
  width: 400px;
  height: 450px;
} 
.prop-text-container {
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.prop-text-container:hover {
  transform: translateY(-5px);
}

.prop-text-content {
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.prop-text-heading {
  font-size: 15px;
  color: #05141f;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 20px;
  padding: 10px;
}

.prop-text-description {
  font-size: 10px;
  color: #05141f;
  margin-bottom: 40px; 
  font-family: 'Aptos';
}

.prop-text-subheading {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
}

.prop-text-service-description {
  font-size: 13px;
  color: #444;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.6;
}

.prop-text-service-description:last-child {
  margin-bottom: 0;
}

.prop-text-service-description:before {
  content: "▹";
  color: #ff6347;
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}

.prop-text-service-description p {
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
}

.prop-text-service-description a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;

}

.prop-text-service-description a:hover {
  color: #0056b3;
  font-family: 'PT Sans', sans-serif;
}

.aj{
  display: flex; 
  justify-content: center;
  align-items: center;
} 

@media screen and (max-width:756px) {
  
  .aj{
    display: flex; 
    flex-direction: column; 
    align-items:center; 

  } 
  .AI-img{
    width: 100px;
    border-radius: 5px; 
   
  }
  
} 

.AI-img{
  width: 300px;
  border-radius: 5px; 
  padding-bottom: 10px;
}

.container-video {
  max-width: 500px; /* Adjust maximum width according to your design */
  margin: 0 auto;
  padding: 20px;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Aspect ratio for 16:9 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.container-video,
.container-photo {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.header-video,
.header-photo {
  text-align: center;
  margin-bottom: 20px;
}

.video-container,
.photo-container {
  width: 100%;
  height: 300px; /* Set the desired height */
  overflow: hidden;
}

.video-container iframe,
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill container */
}


.gallery-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-video,
.container-photo {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
}

.header-video,
.header-photo {
  text-align: center;
  margin-bottom: 20px;
}

.video-container
{
  width: 100%;
  height: 320px; /* Set the desired height */
  overflow: hidden;
}
.photo-container-1 {
  width: 700px;
  height: 400px; /* Set the desired height */
  overflow: hidden;
}
.video-container iframe,
.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill container */
}
.img-2{
  width: 70%;
}

.header-video {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}
.header-photo{
  display: flex;
  justify-content: space-around;
}

.gallery-container {
  display: flex;
  flex-direction: column;
}

.container-photo,
.container-video {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .gallery-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .container-photo,
  .container-video {
    width: 48%; /* Adjust as needed */
    margin-bottom: 0;
  }
}

.header-photo,
.header-video {
  text-align: center;
}

.photo-container,
.video-container {
  display: flex;
  justify-content: center;
}

.img-2 {
  max-width: 80%;
  height: auto;
}


.home-page {
  padding: 20px;
  text-align: center; 
  display: flex;
  justify-content: center;
}

.industries-row {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
 width: 1100px;


}

.industry-item {
  width: 100px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: transform 0.3s ease;
  text-align: center;
}

.industry-item:hover {
  transform: translateY(-5px);
}

.industry-item img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.industry-item p {
  margin: 0;
  font-size: 18px;
  color: #333;
 text-align: right;
}

#indus-des{
  text-align: center;
  margin-left: 20px; 
  color: #45a049;
}