.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
    height: 90vh;
    background-color: #f9f9f9;
  }
  
  @media screen and (min-width: 768px) {
    .home-container {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px; 
    }
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-content {
      align-items: flex-start;
    }
  }
  
  .home-mobile-img {
    width: 206px;
  }
  
  @media screen and (min-width: 768px) {
    .home-mobile-img {
      display: none;
    }
  }
  
  .home-desktop-img {
    width: 59%;
    max-width: 510px;
    margin-left: 45px;
    border-radius: 6px;
  }
  
  @media screen and (max-width: 767px) {
    .home-desktop-img {
      display: none;
    }
 
  }
  
  .home-heading {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-top: 0px;
    font-size: 30px;
    color: #1e293b;
    text-align: center; 
    
  }
  .sub-heading1 {
    font-family: 'PT Sans', sans-serif;
    margin-top: 0px;
    font-size: 35px;
    padding-bottom: 6px;
    color: #1e293b; 
    text-align: left; 
  }
  
  @media screen and (min-width: 768px) {
    .home-heading {
      font-size: 43px;
      text-align: left;
      padding-bottom: 10px;
    }
    .sub-heading {
      font-size: 23px;
      text-align: left;
      padding-bottom: 10px;
    }
  }
  
  .home-description {
    font-family: 'PT Sans', sans-serif;
    margin-top: 36px;
    font-size: 16px;
    line-height: 28px;
    color: #006ac2;
    font-weight: 400;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-description {
      font-size: 19px;
      margin-top: 0;
      font-weight: 500;
      text-align: left;
    }
  }
  
  .shop-now-button {
    width: 150px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: #0967d2;
    margin-top: 20px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .shop-now-button {
      font-size: 16px;
    }
  }
  
  .product-sections {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 1110px;
  }

  
  .mission-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
  }
  
  @media screen and (min-width: 768px) {
    .mission-cont {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 40px;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .home-content1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  .cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .home-content1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
  }
  
  @media screen and (min-width: 768px) {
    .home-content1 {
      align-items: flex-end;
    }
  }
  
  .home-heading1 {
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 0px;
    font-size: 30px;
    color: #1e293b;
    text-align: right;
  }
  
  @media screen and (min-width: 768px) {
  
    .home-heading1 {
      font-size: 43px;
      text-align: right;
    }
    
.service-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 45%;
  transition: all 0.3s ease;
}
  }
  
  .home-description1 {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0;
    text-align: end;
  }

  /* CSS */



.service-section {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  background-color: #f9fbfe;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  transition: all 0.3s ease;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

@media  screen and (max-width:756px) {

  .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   

  .service-image {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  
  
}

.service-item:hover .service-image {
  transform: scale(1.1);
}

.service-item h3 {
  margin: 10px 0;
  color: #333; /* Adjust color as needed */
}

.service-item p {
  color: #666;
}

/* Animation for fadeIn effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-item {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.3s; /* Delay for staggered fadeIn effect */
}
.service-heading {
  font-family: 'PT Sans', sans-serif;
  margin-top: 0px;
  font-size: 30px;
  color: #1e293b;
  font-weight: 600;
  text-align: center;
}

.heading-2{
    font-family: 'PT Sans', sans-serif;
    color:  #0b69ff;
    font-weight: 550;
    font-size: 25px;
    text-decoration: none; 
    padding: 10px;
}

.des-1{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1e293b;
}

.service-item {
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow effect */
  transition: transform 0.3s ease-in-out; /* Adding a smooth transition */
}

.service-item:hover {
  transform: translateY(-5px); /* Applying a slight lift effect on hover */
}



.heading-2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.des-1 {
  font-size: 1rem;
  color: #666;
}

/* Example CSS styles for the footer */

/* General footer styles */
.footer {
  background-color: #05141f;
  padding: 40px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  color: white;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  text-align: left;
}

.footer-section ul li a:hover {
  color: #000;
}

.footer-section p {
  margin-bottom: 5px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-links li {
  margin-right: 10px;
}

.social-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.social-links li a:hover {
  color: #000;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.footer-bottom p {
  font-size: 0.9em;
  color: white;
}



.home-desktop-img {
  width: 59%;
  max-width: 510px;
  margin-left: 45px;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInBounce 1.5s ease-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}





.cities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: 150px;
}

.city-button:hover {
  /* Styles for hover effect */
  background-color:#006ac2;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.city-image {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
}
.city-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-text {
  text-align: center; 
  font-family: 'PT Sans', sans-serif;
}

.city-heading{
  text-align: center;
  padding-bottom: 10px;
}